{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A torre technical test">
    <meta name="keywords" content="react, redux, django">
    <meta name="author" content="Evinton cordoba">
    <title>Torre app</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="app">
    <div id="root"></div>
</body>
<script type="text/javascript" src="{% static 'dist/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
</html>